
.table-stat {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    border: 0;

    &.total {
        th {
            background-color: $--success-color;
        }
    }
}

.table-stat thead tr {
    background-color: #f2f2f2;
}

.table-stat th, .table-stat td {
    padding: 12px 15px;
}

.table-stat th {
    background-color: $--primary-color;
    color: white;
}

.table-stat tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-stat tbody tr:hover {
    background-color: #f1f1f1;
}

.table-stat td {
    border-bottom: 1px solid #ddd;
}

.top {
    &__title {

    }
}

.top-3 {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 60px;

    &__card {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        &:nth-of-type(1) {
            order: 2;
            margin-top: -40px;

            .top-3__small {
                background: linear-gradient(45deg, #d4af37, #ffd700, #f9f295);
                width: 120px;
                height: 120px;
                font-size: 52px;
            }
        }

        &:nth-of-type(2) {
            order: 1;

            .top-3__small {
                background: linear-gradient(45deg, #C0C0C0, #E0E0E0, #f8f8f8);
            }
        }

        &:nth-of-type(3) {
            order: 3;

            .top-3__small {
                background: linear-gradient(45deg, #b87333, #cd7f32, #e0ac69);
            }
        }
    }

    &__small {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        font-weight: 700;
    }

    &__name {
        margin: 10px 0 0;
        font-size: 18px;
    }

    &__sum {
        margin: 0;
        font-weight: 700;
        color: $--system-success-green;
    }
}

.table-values {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(5, max(150px));

    &-col {
        padding: 5px;

        &:nth-of-type(1) {
            background-color: #ffaaaa;
        }

        &:nth-of-type(2) {
            background-color: #ff8585;
        }

        &:nth-of-type(3) {
            background-color: #ffdc9d;
        }

        &:nth-of-type(4) {
            background-color: #ccffcc;
        }

        &:nth-of-type(5) {
            background-color: #73ed73;
        }

        p {
            margin: 0;
            font-weight: 600;
        }
    }
}

.statistic-ar {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    gap: 10px;
    padding-top: 20px;

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        &.green {
            .statistic-ar__count {
                border-color: #2da949;

                &:before {
                    border-color: #2da949;
                }
            }
        }

        &.orange {
            .statistic-ar__count {
                border-color: #f4c12d;

                &:before {
                    border-color: #f4c12d;
                }
            }
        }

        &.red {
            .statistic-ar__count {
                border-color: #d6505d;

                &:before {
                    border-color: #d6505d;
                }
            }
        }
    }

    &__count {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid $--primary-color;
        position: relative;

        &:before {
            content: '';
            width: 152px;
            height: 152px;
            position: absolute;
            left: -10px;
            top: -10px;
            border: 2px dotted $--primary-color;
            opacity: 0.5;
            border-radius: 50%;
        }
    }

    &__days {

    }
}

.tracking-statistics {
    display: grid;
    gap: 60px;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 40px;
        margin-top: 60px;
        margin-bottom: 60px;
    }



    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        border-top: 2px solid #000000;
        padding-top: 10px;
    }
}

.card-tracking-stats {
    max-width: 250px;
    &__user {
        width: 84px;
        height: 84px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        font-weight: 700;
        color: #ffffff;
        margin: 0 auto 20px;
    }

    &__project {
        font-size: 22px;
        color: #000000;
    }

    ul {
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            color: #838383;
        }
    }
}