$color_status_canceled: #EE5843;
$color_status_loaded: #effee9;
$color_status_dell: #d9facb;
$color_status_delivery: #b7e1cd;
$color_status_waiting: #ffff00;

$color_accounting_processed: #b7e1cd;
$color_accounting_unsubmitted: #ffff00;
$color_accounting_others: #ff0000;


.tonu,
.cancelled {
    span {
        display: inline-flex;
        padding: 5px;
        background-color: $color_status_canceled !important;
        color: #ffffff !important;
    }
}

.waiting-on-rc {
    span {
        display: inline-flex;
        padding: 5px;
        background-color: $color_status_waiting !important;
    }
}

.at-del {
    span {
        display: inline-flex;
        padding: 5px;
        background-color: $color_status_dell !important;
    }
}

.loaded-enroute {
    span {
        display: inline-flex;
        padding: 5px;
        background-color: $color_status_loaded !important;
    }
}

.delivered {
    span {
        display: inline-flex;
        padding: 5px;
        background-color: $color_status_delivery !important;

    }
}


.unsubmitted,
.in-processing {
    span {
        display: inline-flex;
        padding: 5px;
        background-color: $color_accounting_unsubmitted !important;
    }
}

.processed {
    span {
        display: inline-flex;
        padding: 5px;

        background-color: $color_accounting_processed !important;
    }
}

.charge-back,
.in-dispute,
.requires-attention,
.short-pay {
    span {
        display: inline-flex;
        padding: 5px;

        background-color: $color_accounting_others !important;
        color: #ffffff !important;
    }
}

.invoiced {
    span {
        display: inline-flex;
        padding: 5px;
        background: #b7e1cd !important;
    }
}

.not-invoiced {
    span {
        display: inline-flex;
        padding: 5px;
        color: #ffffff !important;
        background: #ff0000 !important;
    }
}

.status-tracking-loaded-enroute {
    background-color: #effee9;
    td {
        background-color: transparent !important;
    }
}

.status-tracking-at-del {
    background-color: #d9facb;
    td {
        background-color: transparent !important;
    }
}

.status-tracking-cancelled,
.status-tracking-tonu {
    background-color: #ffdcdc;
    td {
        background-color: transparent !important;
    }
}