.btn-bookmark {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0;
    background-color: transparent;
    width: 28px;
    height: 28px;
    svg {
        pointer-events: none;
        width: 100%;
        height: 100%;
        path {
            fill: #747474;
        }
    }

    &.active {
        svg {
            path {
                fill: #eea109;
            }
        }
    }
}

.btn.active {
    svg {
        path {
            fill: #ffffff;
        }
    }
}

.save-button {
    outline: none !important;
    padding: 4px;
    margin: 0;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid $primary;
    svg {
        fill: $primary;
    }
    &:disabled {
        opacity: 0.1;
        border: 1px solid #000000;
        svg {
            fill: #000000;
        }
    }
    svg {
        width: 20px;
        height: 20px;
    }
}

.file-btn {
    outline: none !important;
    padding: 8px;
    margin: 0;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid $primary;
    margin-top: 36px;
    text-decoration: none;
    svg {
        path {
            fill: $primary !important;
        }
        width: 20px;
        height: 20px;
    }

    &:hover {
        background-color: $primary;
        color: #ffffff;
        svg {
            path {
                fill: #ffffff !important;
            }
        }
    }
}

.btn-remove-file {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;

    outline: none !important;
    padding: 0;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    border-radius: 4px;
    text-decoration: none;
    svg {
        path {
            fill: $--system-error-red !important;
        }
        width: 34px;
        height: 34px;
    }

    &:hover {
        svg {
            path {
                opacity: 0.8;
            }
        }
    }
}