#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

#main-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
}

.cover-bg {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.responsive-image {
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

iframe {
    max-width: 100%;
}

.message-container {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 5001;
}

.nav-pills {
    .nav-link {
        border-radius: 0;
        color:  $--greys-dark;
        border-bottom: 4px solid $--greys-dark;
    }
    .nav-link.active, .nav-pills .show>.nav-link {
        background-color: transparent;
        color: $--primary-color;
        border-color: $--primary-color;
    }
}