#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

#main-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
}

.cover-bg {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.responsive-image {
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

iframe {
    max-width: 100%;
}

.message-container {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 5001;
}

.nav-pills {
    .nav-link {
        border-radius: 0;
        color:  $--greys-dark;
        border-bottom: 4px solid $--greys-dark;
    }
    .nav-link.active, .nav-pills .show>.nav-link {
        background-color: transparent;
        color: $--primary-color;
        border-color: $--primary-color;
    }
}

.tab-content {
    padding-bottom: 20px;
}

.separator-date {
    background: #f7f7f7 !important;
    font-size: 16px !important;
    font-weight: 400;
    padding: 5px 4px !important;
    text-align: center !important;
    text-transform: uppercase;
}

#main-wrapper {

    .table-performance {
        tr {
            th {
                font-size: 10px;
                font-weight: bold;
                padding: 10px 3px;
            }

            &.need-separate {
                th {
                    &:nth-of-type(5),
                    &:nth-of-type(9),
                    &:nth-of-type(13),
                    &:nth-of-type(17),
                    &:nth-of-type(21),
                    &:nth-of-type(25),
                    &:nth-of-type(29),{
                        border-right: 1px solid #000000;
                    }
                }
            }

            input {
                appearance: none;
                -webkit-appearance: none;
                border: 0;
                border-bottom: 1px solid $primary;
                height: 30px;
            }

            td {
                padding: 10px 3px;
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4),
                &:nth-of-type(5),
                &:nth-of-type(10),
                &:nth-of-type(11),
                &:nth-of-type(12),
                &:nth-of-type(13),
                &:nth-of-type(18),
                &:nth-of-type(19),
                &:nth-of-type(20),
                &:nth-of-type(21),
                &:nth-of-type(26),
                &:nth-of-type(27),
                &:nth-of-type(28),
                &:nth-of-type(29),{
                    background-color: #f2f2f2;
                }

                &:nth-of-type(5),
                &:nth-of-type(9),
                &:nth-of-type(13),
                &:nth-of-type(17),
                &:nth-of-type(21),
                &:nth-of-type(25),
                &:nth-of-type(29),{
                    border-right: 1px solid #000000;
                }

            }
        }

        tr.total {
            td {
                background-color: #c9c9c9;
            }
        }

        .week-divider {
            background-color: #d1e7dd;
            border-right: 1px solid #000000;
        }
    }
}

.macropoint {
    padding-left: 20px;
    position: relative;
    &:before {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        bottom: 0;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiByeD0iMTYiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik03MyAxN1Y3My4wNjc3QzczIDczLjA2NzcgNjguNTc5NyA3MS4yNTExIDY1LjYxOTUgNzAuNjM5OUM2MC40MDAzIDY5LjU2MjMgNTcuMjk4NyA3MC4wNzMzIDUyLjAxMDIgNzAuNjM5OUM0Ni4wMjQgNzEuMjgxMiA0Mi42MDg4IDcxLjkyNzEgMzYuOTUwNSA3NC4xMjEyQzMxLjE2MDggNzYuMzY2MyAyMyA4MiAyMyA4Mkw3MyAxN1oiIGZpbGw9InVybCgjcGFpbnQwX2xpbmVhcl84XzIpIi8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXJfOF8yIiB4MT0iNDgiIHkxPSIxNyIgeDI9IjQ4IiB5Mj0iODIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzQ3QTJEQSIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMxNTY2QjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K');
        background-repeat: no-repeat;
        background-size: contain;
        width: 18px;
        height: 18px;
        border: 1px solid #000000;
        border-radius: 4px;
    }
}

.generate-bol {
    padding-bottom: 100px;
    input[type=text], textarea {
        width: 100%;
    }
}

.sticky-top {
    top: 20px;
}

#popup_add_company {
    z-index: 5001;
}

.btn {
    .active-state {
        display: block;
    }

    .disabled-state {
        display: none;
    }

    &.loading {
        .active-state {
            display: none;
        }

        .disabled-state {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}