.site-header {
    position: relative;
    top: 0;
    left: 0;
    z-index: $zindex-sticky;
    width: 100%;

    &__absolute {
        position: absolute;
    }

    &__sticky {
        position: sticky;
    }
}

.left-sidebar {
    max-width: 250px;
    min-width: 250px;
    width: 100%;
    padding: 16px 16px 74px 16px;
    background: #f7f7f7;
    border-radius: 12px;
    position: relative;

    transition: all 0.5s linear;

    &__block {
        border-radius: 12px;
        margin-bottom: 20px;
        background-color: #ffffff;
        width: 100%;
        padding: 12px 8px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        width: 100%;
        background-color: transparent;
        border: 0;
        gap: 12px;
        text-decoration: none;
        padding-right: 12px;
        position: relative;
        color: #000000;
        font-weight: 500;

        &.small {
            display: none;

            &:before {
                display: none;
            }
        }

        * {
            pointer-events: none;
        }

        &:before {
            content: '';
            display: block;
            border-bottom: 2px solid #000000;
            border-right: 2px solid #000000;
            width: 10px;
            height: 10px;
            position: absolute;
            right: 2px;
            top: calc(50% - 7px);
            transform: rotateZ(45deg);
        }

        &.active {
            &:before {
                top: calc(50% - 2px);
                transform: rotate(-135deg);
            }
        }
    }

    &__icon {
        width: 25px;
        height: auto;
    }

    &__menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__item {
        padding-left: 37px;
    }

    &__link-child {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $--primary-color;
        color: #ffffff;
        border-radius: 50%;
        font-size: 18px;
        line-height: 20px;
        padding: 0;
        margin: 0;
        border: 0;
        cursor: pointer;
        transition: all 0.2s linear;
        text-decoration: none !important;
        svg {
            pointer-events: none;
        }
    }

    &__link {
        color: #000000;
        position: relative;
        text-decoration: none;
        font-weight: 300;

        &.current-page {
            color: $--primary-color;
            font-weight: 600;
        }

        &:hover {
            color: $--primary-color;
        }

        &:before {
            content: '';
            position: absolute;
            left: -12px;
            width: 8px;
            height: 2px;
            top: 50%;
            background-color: $--primary-color;
        }
    }



    &.small {
        max-width: max-content;
        min-width: initial;

        .left-sidebar__block {
            margin-bottom: 8px;

            .full {
                display: none;
            }

            .small {
                display: flex;
                padding: 0;
            }
        }

        .left-sidebar__menu {
            display: none;
        }
    }
}

.toggle-sidebar {
    background-color: #fff;
    border-radius: 12px;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
    border: 0;
    margin: 0;
    position: fixed;
    right: calc(100% - 234px);
    bottom: 16px;
    transition: all 0.2s linear;
    * {
        transition: all 0.1s linear;
    }

    &:hover,
    &.small {
        background-color: $--primary-color;
        path {
            stroke: #ffffff;
        }
    }

    &.small {
        transition: none;
        right: calc(100% - 54px);
        transform: rotateZ(180deg);
    }

    *{
        pointer-events: none;
    }
}


.night_mode__label {
    width: 38px;
    min-width: 38px;
    height: 38px;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 50%;
    border: 1px solid #989a9b;
    cursor: pointer;
    transition: all 0.2s linear;
    & * {
        transition: all 0.2s linear;
    }
    &:hover {
        border-color: $--primary-color;
        svg path {
            fill: $--primary-color !important;
        }
        .dark {
            svg path {
                fill: $--primary-color !important;
            }
        }
    }
}

.night_mode_icon {

    display: flex;
    align-items: center;
    justify-content: center;
    
}


.night_mode__checkbox {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;

    & + .night_mode__label .night_mode__icon {
        &.light {
            display: none;
            path {
                fill: #989a9b;
            }
        }
        &.dark {
            display: block;
            path {
                fill: #989a9b;
            }
        }
    }

    &:checked + .night_mode__label {    
        .night_mode__icon {
            &.light {
                display: block;
                path {
                    fill: #989a9b;
                }
            }
            &.dark {
                display: none;
                
            }
        }
    }
}

