// Font-family
$font-primary: sans-serif;
$font-secondary: serif;

// Colors
$--primary-color: #0d6efd;
$--warning-color: #ffc107;
$--success-color: #198754;
$--primary-dark-color: #212529;
$--primary-dark-blue: #2A1D7A;

$--greys-white: #FFFFFF;
$--greys-light: #dee2e6;
$--greys-dark: #575264;
$--greys-black: #000000;

$--system-error-red: #EE5843;
$--system-success-green: #22B98C;

// Width sizes
$fluid_max_width: 1440px;

$label-color-admin: #ffffff;
$label-color-accounting: #ffff58;
$label-color-recruiter: #b2d963;
$label-color-billing: #aaaaee;
$label-color-tracking: #ffb87a;
$label-color-dispatcher-tl: #22ffb5;
$label-color-dispatcher: #54b9f8;
