// Font-family
$font-primary: sans-serif;
$font-secondary: serif;

// Colors
$--primary-color: #0d6efd;
$--warning-color: #ffc107;
$--success-color: #198754;
$--primary-dark-color: #212529;
$--primary-dark-blue: #2A1D7A;

$--greys-white: #FFFFFF;
$--greys-light: #dee2e6;
$--greys-dark: #575264;
$--greys-black: #000000;

$--system-error-red: #EE5843;
$--system-success-green: #22B98C;

// Width sizes
$fluid_max_width: 1440px;

$label-color-admin: #bd2d2d;
$label-color-accounting: #bd2d8f;
$label-color-recruiter: #2dbd9b;
$label-color-billing: #2dbd58;
$label-color-tracking: #660db4;
$label-color-dispatcher-tl: #d29408;
$label-color-dispatcher: #ff9127;
