@import 'parts/normalize.css';
@import 'bootstrap/bootstrap';
@import 'bootstrap';
@import 'parts/mixin';
@import 'parts/variables';
@import 'parts/fonts';
@import 'parts/button';
@import 'parts/global';
@import 'parts/header';
@import 'parts/footer';
@import 'parts/modal_window';
@import 'parts/cookies';
@import 'parts/small_components';
@import 'parts/rating-reminder-modal';
@import 'parts/drivers-rate';
@import 'parts/driver-backershot';

@import "components/account";
@import "components/statistics";
@import "components/statuses_colors";
@import "components/broker-shipper";
@import "components/log";
@import "components/platforms";
@import "components/quick-copy";

@import '~flatpickr/dist/flatpickr.min.css';
